body{
  background-color: #4B6587;
}

h1 {
  background-color: blue;
  font-size: 200px;
  margin: 0px;
}


.brocolli{
    background-color: red;
    width: 150px;
}
.apple{
background-color: salmon;
  width: 150px;
}

.heading:hover{
  background-color: red;
}

.round{
    border-radius:
    100%;
}
img:hover{
background-color: black;
}
